:root {
    --grey-neutral-100: #e4e4e4;
    --grey-neutral-800:#414141;
    --pink-500: #f778b9;
  }
.publicity{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
    width: 100%;
    height: auto;
    background-color:var(--grey-neutral-100);
}

.img-publicity{
    align-self: center;
    margin-bottom: 2vh;
    width: 340px;
   
}

.img-publicity2{
    align-self: center;
    margin-bottom: 2vh;
    width: 45vh;
   height: 66vh;
   display: none;
}

@media (orientation: landscape){
    .publicity{
        width: 50vh;
        margin-left: 6vh;
    }
    .img-publicity{
        width: 45vh;
        height: 160px; 
    }
    .img-publicity2{
        display: block;
    }
}